# macOS
.DS_Store

# temp renders
redlinetest/
*_renders/
tmp/
temp/

# python
__pycache__/
*.pyc
build/
dist/
*.egg-info/
.eggs/
*.spec

# misc
.env
build_logs/
runs/
*.log
build_logs/
runs/
*.log
tools/
